{#
https://bxslider.com/options/
TODO    add switch - load *.js & *.css from CDN or from local storage
TODO    separate navigation & thumbs
#}
<div class="module">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <div>
        {% if name and display_title %}
            {% if add_span %}
                <h3 class="{{ hclass }}"><span>{{ name }}</span></h3>
            {% else %}
                <h3>{{ name }}</h3>
            {% endif %}
        {% endif %}


        <div class="slider">
            {% for banner in banners %}
                <div><img
                                alt="{{ banner.title }}"
                                title="{{ banner.title }}"
                                src="{{ banner.image }}"
                                loading="lazy"
                                width="{{ iwidth }}"
                                height="auto"   {# TODO script can't confirm aspect ratio #}
                                /></div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: 'true',
                mode: '{{ slmode }}',
                speed: {{ valueR }},
                pager: {{ navi }},
                controls: {{ navi }},
                captions: {{ capt }}
            });
        });
    </script>
</div>
